<% if user_signed_in? %>
<body>
<header>
<h2>Potepan Shere</h2>
<div class = wrapper>
    <div class = box_wrapper>  
    <input type="checkbox" id="tab1"/>
    <label for="tab1">
        <% if current_user.image? %>  
        <div><%= image_tag current_user.image.url,size: "100x100" %></div>
        <% else %>
        <div><%= image_tag "https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" %></div>
        <% end %>
    </label>

        <ul>
            <li><a><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></a></li>
            <li><a><%= link_to "部屋の新規登録", "/rooms/new" %></a></li>
            <li><a><%= link_to "部屋の登録済み一覧", "/rooms/" %></a></li>
            <li><a><%= link_to "予約一覧", "/reservations/" %></a></li>
            <li><a><%= link_to "アカウント設定", "/users/show" %></a></li>
            
        </ul>
    </div>
    
</div>
</header>

<div class = top>

<div class = toppage>
<p class = top-logo>Potepan Shareで<br>まだ体験したことのない旅をしよう</p>
</div>

<div class = "search_index">
            
            <%= search_form_for @q, url: search_rooms_path do |f| %>
                <%= f.label :address_cont ,"都道府県で検索" %></br>
                <%= f.search_field :address_cont%>
            <p><%= f.submit "探す"%></p>
            <% end %>
</div>

<div class = "search_index">
            
            <%= search_form_for @q, url: search_rooms_path do |f| %>
                <%= f.label :name_or_introduction_cont ,"キーワード検索" %></br>
                <%= f.search_field :name_or_introduction_cont%>
            <p><%= f.submit "探す"%></p>
            <% end %>
</div>

</div>
</body>
<% else %>
<header>
<h2>Potepan Shere</h2>
<div>
<a><%= link_to "ログイン", "/users/sign_in" %></a>
<a><%= link_to "新規登録", "/users/sign_up" %></a>
</div>
</header>
<div class = top>
<p class = top-logo>Potepan Shareで<br>まだ体験したことのない旅をしよう</p>
</div>
<% end %>
