<table>

<tr>
<% if @reservation.room.room_image? %>  
<td>
    <%= image_tag @reservation.room.room_image.url,size: "200x150" %></td>
    <% else %>
    <td>"画像なし"</td>
    <% end %>
   </td>
</tr>
<tr>
  <td><%= @reservation.room.name %></td>
</tr>
<tr>
  <td><%= @reservation.room.address %></td>
</tr>
<tr>
  <td><%= @reservation.room.introduction %></td>
</tr>
<tr>
  <td><%= @reservation.room.price %>円</td>
</tr>

</table>


<h2>部屋を予約する</h2>
 <%= form_with model: @reservation do |f| %>    
  <%= f.hidden_field :user_id, current_user.id %>
  <%= f.hidden_field :room_id, @room.id%>
  <%= f.hidden_field :price, @room.price %>
    <table>
     <tr>
       <th><%= f.label :startday ,"開始日" %></th>
       <td><%= f.date_field :startday %></td>
     </tr>
 
     <tr>
       <th><%= f.label :endday ,"終了日" %></th>
       <td><%= f.date_field :endday %></td>
     </tr>
 
     <tr>
       <th><%= f.label :people ,"人数" %></th>
       <td><%= f.number_field :people %></td>
     </tr>
   </table>
   <div>
     <ul>
       <li><%= f.submit "予約する"%></li>
     </ul>
    </div>
 <% end %>