<% if flash[:success] %>
<p class="notice"><%= flash[:success] %></p>
<% end %>
<h2>予約詳細</h2>

<table>
<tr>
<% if @reservation.room.room_image? %>  
<th>画像</th>
<td>
    <%= image_tag @reservation.room.room_image.url,size: "200x150" %></td>
    <% else %>
<td><%= image_tag "https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png" ,size: "200x150" %></td>
<% end %>
<tr>
  <th>部屋名</th>
    <td><%= @reservation.room.name %></td>
</tr>
 
  <tr>
  <th>チェックイン</th>
    <td><%= @reservation.startday %></td>
  </tr>
  <tr>
    <th>チェックアウト</th>
    <td><%= @reservation.endday %></td>
  </tr>
  <tr>
    <th>宿泊日数</th>
    <td><%=(@reservation.endday - @reservation.startday).to_i %>日</td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @reservation.people %></td>
  </tr>
  <tr>
  <th>料金</th>
  <td><%= @reservation.room.price * @reservation.people * (@reservation.endday - @reservation.startday).to_i %></td>
  </tr>
  </table>
  
  <%= form_with model: @reservation, url: reservations_path, local: true do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :startday %>
    <%= f.hidden_field :endday %>
    <%= f.hidden_field :people %>
    <%= link_to "予約一覧へ",:reservations %>
  <% end %>
</table>
