<header>
<h2>Potepan Shere</h2>
<div class = wrapper>
    <div class = box_wrapper>  
    <input type="checkbox" id="tab1"/>
    <label for="tab1">
    <%= current_user.nickname %>
    <% if current_user.image? %>  
        <div><%= image_tag current_user.image.url,size: "100x100" %></div>
        <% else %>
        <div><%= image_tag "https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" %></div>
        <% end %>
    </label>

        <ul>
            <li><a><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></a></li>
            <li><a><%= link_to "部屋の新規登録", "/rooms/new" %></a></li>
            <li><a><%= link_to "部屋の登録済み一覧", "/rooms/" %></a></li>
            <li><a><%= link_to "予約一覧", "/reservations/" %></a></li>
            <li><a><%= link_to "アカウント設定", "/users/show" %></a></li>
        </ul>
    </div>
    
</div>
</header>
<a href="javascript:history.back()">[戻る]</a>
<h3>部屋の登録済み一覧</h3>
 
<% if flash[:success] %>
   <p class="notice"><%= flash[:success] %></p>
 <% end %>

 <table>
   <thead>
     <th>画像</th>
     <th>id</th>
       <th>名前</th>
       <th>部屋詳細</th>
       <th>住所</th>
       <th>価格</th>
       <th>作成日</th>
     </tr>
   </thead>
 
   <tbody>
        <tr>
     <% @rooms.each do |room| %>
        <td><%= image_tag room.room_image.url ,size: "200x150" %></td>
       
       <td><%= room.id %></td>
         <td><%= room.name %></td>
         <td><%= room.introduction %></td>
         <td><%= room.address %></td>
         <td><%= room.price %></td>
         <td><%= room.created_at.to_s(:datetime_jp) %></td>
         <td><%= link_to "予約する", room %></td>
         <td><%= link_to "編集", [:edit, room] %></td>
         <td><%= link_to "削除", room, method: :delete, 
         data: { confirm: "本当に削除しますか？" } %> </td>
         
         
         </tr>
     <% end %>
   </tbody>
 </table>
 
 